<div class="bg-black">
  <div class="bg-div-color"> <h1 mat-dialog-title class="text-center text-white">Menu</h1></div>

<div mat-dialog-content>
  <ul class="text-center list-unstyled d-block">
    <a routerLink="/home" routerLinkActive="active" class="menu-links text-decoration-none d-block" mat-dialog-close><li class="text-white mb-2 p-2 menu-link-list">Home</li></a>
    <a routerLink="/about" routerLinkActive="active" class="menu-links text-decoration-none d-block" mat-dialog-close><li class="text-white mb-2 p-2 menu-link-list">About Me</li></a>
    <a routerLink="/education" routerLinkActive="active" class="menu-links text-decoration-none d-block" mat-dialog-close><li class="text-white mb-2 p-2 menu-link-list">Education</li></a>
    <a class="menu-links text-decoration-none d-block" mat-dialog-close><li class="text-white mb-2 p-2 menu-link-list">Projects</li></a>
    <a class="menu-links text-decoration-none d-block" mat-dialog-close><li class="text-white p-2 menu-link-list">Contact Me</li></a>
<!--    <router-outlet></router-outlet>-->
  </ul>
  <div class="text-center mt-4">
  <button mat-dialog-close class="btn menu-close-btn px-4 py-2 text-white">Close</button>
  </div>
</div>
</div>
