

.social-buttons{
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  border-radius: 50%;
  background-color: var(--header-theme-color); /* Set the desired background color */
  color: #fff; /* Set the text color */
  //display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.4s ease, transform 0.5s ease;
}

.social-buttons:hover{
  background-color: transparent;
  transform: scale(1.2);
  border:1px solid white;
}

.resume-button{
background-color: var(--header-theme-color);
  transition: background-color 0.4s ease, transform 0.5s ease;
}

.resume-button:hover{
  background-color: transparent;
  transform: scale(1.2);
  border:1px solid white;
}
