<div class="main-container container-fluid">
  <div class="main-sub-container">
   <p class="text-header text-white">About Me</p>
    <p class="text-content text-white">I am a recent graduate with a degree in Computer Science, eager to begin my career in software engineering. I have a strong foundation in programming languages such as Java, Python, and C++, and hands-on experience through various academic projects. I am passionate about problem-solving and enjoy working both independently and as part of a team to develop innovative solutions. I am enthusiastic about learning new technologies and continuously improving my skills to contribute effectively to the success of my team and organization.</p>
  </div>
</div>

